.message-container {
    display: flex;
    margin: 4px 16px;
    max-width: 100%;
    flex-direction: column;
}


.message-container.sent {
    align-items: flex-end;
}


.message-container.received {
    align-items: flex-start;
}


.message-bubble {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 8px 12px;
    box-sizing: border-box;
    position: relative;
    max-width: 85%;
    min-width: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
}


.sent .message-bubble,
.sent-bubble {
    background-color: #dcf8c6;
    border: none;
    align-self: flex-end;
    text-align: right;
}


.received .message-bubble {
    background-color: #ffffff;
    text-align: left;
}


.message {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.message-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    white-space: pre-wrap;
    word-break: break-word;
}

.message-time {
    font-size: 11px;
    color: gray;
    position: absolute;
    bottom: 10px;
    right: 8px;
    padding: 1px 4px;
}


.delete-button {
    margin-top: 4px;
    background-color: transparent;
    color: #ff4444;
    border: none;
    cursor: pointer;
    font-size: 12px;
}


.selected .message-bubble {
    background-color: #dcf8c6;
    border: none;
}




